@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #F7F8F8;

    --background: 191 4.550000000000001% 7.76%;
    --foreground: 191 0.7000000000000001% 99.85%;

    --muted: 191 3.5000000000000004% 29.099999999999998%;
    --muted-foreground: 191 0.7000000000000001% 59.7%;

    --popover: 191 63.6% 12.61%;
    --popover-foreground: 191 0.7000000000000001% 99.85%;

    --card: 191 63.6% 12.61%;
    --card-foreground: 191 0.7000000000000001% 99.85%;

    --border: 191 3.5000000000000004% 29.099999999999998%;
    --input: 191 3.5000000000000004% 29.099999999999998%;

    --primary: 191 7% 97%;
    --primary-foreground: 191 0.7000000000000001% 9.7%;

    --secondary: 191 3.5000000000000004% 29.099999999999998%;
    --secondary-foreground: 191 0.7000000000000001% 99.85%;

    --accent: 191 3.5000000000000004% 29.099999999999998%;
    --accent-foreground: 191 0.7000000000000001% 99.85%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 191 0.7000000000000001% 99.85%;

    --ring: 191 7% 97%;
  }

  .dark {
    --gradient: #0052D4;

    --background: 230 65% 3.36%;
    --foreground: 230 10% 97.1%;

    --muted: 230 50% 12.6%;
    --muted-foreground: 230 10% 54.2%;

    --popover: 230 45% 5.46%;
    --popover-foreground: 230 10% 97.1%;

    --card: 230 45% 5.46%;
    --card-foreground: 230 10% 97.1%;

    --border: 230 50% 12.6%;
    --input: 230 50% 12.6%;

    --primary: 230 100% 42%;
    --primary-foreground: 230 10% 97.1%;

    --secondary: 230 50% 12.6%;
    --secondary-foreground: 230 10% 97.1%;

    --accent: 230 50% 12.6%;
    --accent-foreground: 230 10% 97.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 230 10% 97.1%;

    --ring: 230 100% 42%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Additional Styles */
.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.text-dynamic-color {
  color: var(--text-color);
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
